/* ---------- root variables ---------- */
:root {
    --green: rgb(38, 76, 89);
    --green-opacity: rgba(38, 76, 89, 0.2);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --white: #fff;
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --text-color-out-of-stock: rgb(89, 38, 38);
    --text-color-in-stock: rgb(172, 198, 201);
}

/* ---------- general styling ---------- */
html {
    background-color: var(--green);
    color: var(--text-color-dark);
    font-family: var(--font-family);
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-align: center;
}

h2 {
    font-weight: 500;
    letter-spacing: 0.1px;
}

/* ---------- topbar styling ---------- */
/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    color: var(--text-color-light);
    padding: 13.5px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: 0 auto; /* Centrer header vandret */
    max-width: 1920px; /* Sæt maksimal bredde */
}

.header-left {
    /* Flyt til venstre kant */
    margin-right: auto;
    margin-left: auto;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Tilføj mellemrum mellem knap og select */
}

/* Juster placeringen af h1 og select "pages" */
header h1 {
    font-family: "Roboto", sans-serif; /* Brug Roboto-skrifttypen */
    font-weight: 700; /* Fed skrifttype */
    font-size: 24px; /* Ændre tekststørrelsen */
    margin-left: 20px; /* Tilføj venstre margen */
}

#different-pages {
    margin-right: 20px; /* Tilføj højre margen */
}

/* Style for knappen "Create Artist" og select "Pages" */
#create-artist-btn,
#different-pages {
    background-color: var(--light-green);
    color: var(--text-color-dark);
    font-size: 18px; /* Ændre tekststørrelsen */
    padding: 10px 20px; /* Ændre størrelsen */
    border: none; /* Fjern kantlinjen */
    cursor: pointer; /* Gør markøren til en hånd, når der holdes over det */
}

/* ---------- Sorting og filter fieldset ---------- */
/* CSS for filter/sortering-sektionen */
#filter-sorting-grid {
    text-align: center; /* Centrer indholdet vandret */
}

#filter-sorting-grid fieldset {
    border: 2px solid var(--green);
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    text-align: left; /* Venstrejuster indholdet i fieldset */
}

#filter-sorting-grid legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

#filter-sorting-grid #top-left-section,
#filter-sorting-grid #top-right-section,
#filter-sorting-grid #bottom-left-section,
#filter-sorting-grid #bottom-right-section {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

/* Style for labels and inputs/selects inside sections */
#filter-sorting-grid label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#filter-sorting-grid input[type="text"],
#filter-sorting-grid select {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--green);
    border-radius: 3px;
    margin-bottom: 10px;
}

/* ---------- Footer styling ---------- */
/* CSS for footer */
footer {
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    padding: 1em 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content h1 {
    font-size: 1.2em;
    margin: 0;
}

/* Style copyright-tegnet */
.footer-content h1::before {
    content: "\00a9"; /* Unicode for copyright-tegnet */
    margin-right: 5px;
    font-size: 1.2em;
}

/* ---------- page styling ---------- */
main {
    /*min heigh is screen heigh minus height of tab and top bar */
    min-height: calc(100vh - 110px);
    animation: fadeIn 0.8s;
    padding: 10px 0 0;
}

/* CSS for farverig og funky baggrund */
body {
    margin: 0;
    background: linear-gradient(135deg, #ff00ff, #ff6600, #00ccff, #ff3300, #66ff33, #ff0066);
    background-size: 300% 300%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ---------- grid container styling ---------- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
}

@media (min-width: 670px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1300px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ---------- Article styling ---------- */
/* CSS for artist-article */
.artist-article {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(183, 205, 215, 0.5); /* Gør kun baggrunden gennemsigtig */
    transition: 0.5s;
    animation: fadeIn 0.5s;
    max-width: 400px;
    margin: 0 auto;
    width: 300px;
    border-radius: 10px; /* Tilføj afrundede hjørner */
    overflow: hidden; /* Skjul indhold, der overskrider artist-article */
    display: flex;
    flex-direction: column; /* Sæt indhold i kolonner */
}

.artist-article:hover {
    box-shadow: 0 8px 16px 0 var(--green);
}

/* CSS for artist-image */
.artist-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* CSS for artist-details */
.artist-details {
    padding: 1.5em;
    flex-grow: 1; /* Udvid sektionen for at fylde pladsen */
}

/* CSS for artist-buttons */
.artist-buttons {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.artist-buttons button {
    flex: 1;
    margin: 0 0.5em;
}

/* ---------- Dialog Styling ---------- */
/* CSS for dialog layout */
.dialog-view {
    background-color: rgba(0, 0, 0, 0); /* Justerer gennemsigtighed som ønsket */
    border-color: rgba(0, 0, 0, 0);
}

.dialog-content {
    display: flex;
    padding: 20px;
    align-items: center;
    max-width: 800px; /* Juster bredden som ønsket */
    margin: 0 auto;
    background-color: rgba(183, 205, 215, 1); /* Juster farve som ønsket */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.left-section {
    flex: 1;
    text-align: center;
}

.left-section img {
    max-width: 250px; /* Sørg for, at billedet ikke overstiger dets container */
    height: auto; /* Bevar billedets proportioner */
    border-radius: 5px;
}

.right-section {
    flex: 2;
    padding: 20px;
}

.right-section-inner {
    display: grid;
    gap: 15px;
}

/* Styling for h2 (detail-view-name) */
#detail-view-name {
    font-size: 1.5em; /* Juster størrelse som ønsket */
    margin-bottom: 10px;
}

/* Styling for p (detail-view-shortDescription) */
#detail-view-shortDescription {
    font-size: 0.9em; /* Juster størrelse som ønsket */
}

/* Centrer luk-knappen */
.dialog-close-button {
    margin: 0 auto;
    display: block;
    background-color: var(--light-green);
    color: var(--text-color-dark);
    font-size: 18px; /* Ændre tekststørrelsen */
    padding: 10px 70px; /* Ændre størrelsen */
    margin-top: 10px;
    border: none; /* Fjern kantlinjen */
    cursor: pointer; /* Gør markøren til en hånd, når der holdes over det */
    border-radius: 5px; /* Tilføj afrundede hjørner */
    transition: background-color 0.3s, color 0.3s; /* Tilføj en overgangseffekt */
}

.dialog-close-button:hover {
    background-color: var(--green); /* Ændre farven ved hover */
    color: var(--white); /* Ændre teksts farven ved hover */
}

/* Tilføj en stribet linje under hver div på den højre side */
#detail-view-about,
#detail-view-music,
#detail-view-more {
    border: 1px dashed rgb(38, 76, 89); /* Ændre farve og stil efter behov */
    border-left: 1px dashed rgb(38, 76, 89); /* Ændre farve og stil efter behov */
    border-radius: 10px;
    padding: 0 10px;
    padding-bottom: 10px; /* Juster afstanden mellem linjen og indholdet efter behov */
}

/* ---------- styling af dialog forms ---------- */
/* styling for dialog window */
#update-artist-dialog,
#create-artist-dialog {
    background-color: rgba(183, 205, 215, 1); /* Juster farve som ønsket */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Styling for dialog wrapper */
.dialog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Styling for top area (area 1) */
.top-area {
    width: 100%;
}

/* Styling for left area (area 2) and right area (area 3) */
.side-areas {
    display: flex;
    justify-content: space-between;
}

/* Styling for fieldsets */
.dialog-fieldset {
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--green);
    border-radius: 5px;
}

/* Styling for labels and inputs */
.dialog-label,
.dialog-input,
.dialog-select {
    display: block;
    margin-bottom: 10px;
}

/* max witdh styling for inputs */
.dialog-input {
    width: 100%;
    box-sizing: border-box;
}

/* Styling for select-elementet (midterjustering) */
.dialog-select {
    width: 100%;
    box-sizing: border-box;
    text-align: center; /* Centrer teksten inden i select-elementet */
}
/* Styling for button area (area 4) */
.button-area {
    margin-top: 20px;
}

/* Styling for knapper i dialoger */
.dialog-button {
    background-color: var(--light-green);
    color: var(--text-color-dark);
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dialog-button:hover {
    background-color: var(--green); /* Ændre farven ved hover */
    color: var(--white); /* Ændre teksts farven ved hover */
}
